:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --dark: #292a2b;
  box-sizing: border-box;
  font-size: 0.875rem;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  outline: 0 none;
}

/* Header */
/* header logo */
#mobile-header {
  color: var(--black);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mobile-header h1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 2.875rem;
  margin: 5%;
}

#mobile-header h1 #tgame {
  color: var(--yellow);
}

/* header menu icon */

#header #square {
  background-color: var(--black);
  padding: 1.2em;
  border-radius: .5rem;
  margin: 5%;
  opacity: 1;
}

#header #square img {
  width: 30px;
}

/* sidebar */

#sidebar {
  background-color: var(--dark);
  color: white;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
}

/* sidebar links */

#sidebar nav li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border-bottom: 1px solid white;
  margin-left: 1.2em;
  margin-right: 2em;
  list-style: none;
  font-size: 1.1rem;
  margin-top: 3em;
}
#sidebar nav li a {
  color: white;
  text-decoration: none;
}

#sidebar nav li a:hover {
  color: var(--yellow);
  text-decoration: none;
}

/* sidebar close icon */

#sidebar nav img {
  width: 20px;
  position: absolute;
  top: 2em;
  right: 3em;
}

/* sidebar social networks icons */

#sidebar .social-networks {
 width: 80%;
 margin: 15% 10%;
}

#sidebar .social-networks .fa-brands:not(:last-of-type) {
  margin-right: 0.9em;
}

#sidebar .social-networks .fa-brands:first-of-type {
  margin-left: 0.8em;
}

#sidebar .social-networks .fa-brands:hover {
  color: var(--yellow);
}

/* sidebar buttons */

#sidebar .buttons {
  margin-left: 1.2em;
  width: 85%;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

#sidebar button {
  width: 50%;
  background-color: var(--yellow);
  padding: 0.8em;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#sidebar button:first-child {
  border-right: solid rgb(205, 201, 201) 0.3px;
  /* border-right: solid var(--dark) 0.5px; */
}

#sidebar button:hover {
  color: var(--black);
}

/* Login */


/* Sign up */
#sign-up {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 0;
  background-color: white;
  display: none;
}

#sign-up .close-modal {
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 1em;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

#sign-up #modalSignUp {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 900;
  font-size: 4.575rem;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}

#sign-up p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #8d8682;
  font-size: 1.5rem;
}

/* Slideshow */
/* Players */
/* Games */
/* Footer */

/* / Bootstrap breakpoints / */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Header */
  #sidebar .social-networks {
    margin: 10% 10%;
   }
   
  #sidebar .social-networks .fa-brands:not(:last-of-type) {
     margin-right: 2em;
   }
  
  #sidebar .buttons {
    width: 90%;
  }

/* Slideshow */
/* Players */
/* Games */
/* Footer */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Header */
  #sidebar .social-networks {
    margin: 5% 10%;
  }
   
  #sidebar .social-networks .fa-brands:not(:last-of-type) {
     margin-right: 3em;
  }
   
  #sidebar .social-networks .fa-brands:first-of-type {
     margin-left: 2em;
  }

  #sidebar nav img {
    width: 20px;
    position: absolute;
    top: 3.5em;
    right: 3em;
  }

  #sidebar nav li:first-of-type{
    margin-right: 5em;
  }

  #sidebar nav li:last-of-type{
    margin-bottom: 2.5em;
  }
/* Slideshow */
/* Players */
/* Games */
/* Footer */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) {
  /* Header */
  #header #square {
    opacity: 0;
    }
  /* Slideshow */
  /* Players */
  /* Games */
  /* Footer */
}

