:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --dark: #292a2b;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
}

/* font-family: 'Titillium Web', sans-serif; */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
  outline: 0 none;
}

/* Header */
/* header logo */
#mobile-header {
  color: var(--black);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mobile-header h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 2.875rem;
  margin: 5%;
}

#mobile-header h1 #tgame {
  color: var(--yellow);
}

/* header menu icon */

#header #square {
  background-color: var(--black);
  padding: 1.2em;
  border-radius: 0.5rem;
  margin: 5%;
  opacity: 1;
}

#header #square img {
  width: 30px;
}

/* sidebar */

#sidebar {
  background-color: var(--dark);
  color: white;
  width: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
}

/* sidebar links */

#sidebar nav li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-bottom: 1px solid white;
  margin-left: 1.2em;
  margin-right: 2em;
  list-style: none;
  font-size: 1.1rem;
  margin-top: 3em;
}
#sidebar nav li a {
  color: white;
  text-decoration: none;
}

#sidebar nav li a:hover {
  color: var(--yellow);
  text-decoration: none;
}

/* sidebar close icon */

#sidebar nav img {
  width: 20px;
  position: absolute;
  top: 2em;
  right: 3em;
}

/* sidebar social networks icons */

#sidebar .social-networks {
  width: 80%;
  margin: 15% 10%;
}

#sidebar .social-networks .fa-brands:not(:last-of-type) {
  margin-right: 0.9em;
}

#sidebar .social-networks .fa-brands:first-of-type {
  margin-left: 0.8em;
}

#sidebar .social-networks .fa-brands:hover {
  color: var(--yellow);
}

/* sidebar buttons */

#sidebar .buttons {
  margin-left: 1.2em;
  width: 85%;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

#sidebar button {
  width: 50%;
  background-color: var(--yellow);
  padding: 0.8em;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

#sidebar button:first-child {
  border-right: solid rgb(205, 201, 201) 0.3px;
  /* border-right: solid var(--dark) 0.5px; */
}

#sidebar button:hover {
  color: var(--black);
}

/* Login */

/* Sign up */
#sign-up {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  top: 0;
  background-color: white;
  display: none;
}

#sign-up .close-modal {
  border: 1px solid black;
  color: white;
  background-color: black;
  padding: 1em;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

#sign-up #modalSignUp {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 4.575rem;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.8em;
}

#sign-up p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #8d8682;
  font-size: 1.5rem;
}

/* Slideshow */

#slideshow {
  position: relative;
  width: 100vw;
  display: flex;
}

#slideshow > div.slideText > img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.scpopacity {
  opacity: 0.1 !important;
}

#slideshow > div.slideText > h1 {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
}

#slideshow > div.slideText > p {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-family: "Titillium Web", sans-serif;
  padding: 1em;
  opacity: 0;
}

.slideChangePoints {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 3em;
}

.slideChangePoint {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 50%;
  background: transparent;
  margin: 0 5px;
  cursor: pointer;
}

.yellowText {
  color: var(--yellow);
}
/* Players */
#players {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

#players .players-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#players .players-container .p-container .p-header {
  width: 75%;
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-left: 2.3em;
}

#players .players-container .p-container .p-header .p-black {
  font-size: 2.5rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
}
#players .players-container .p-container .p-header .p-yellow-text {
  font-size: 2.5rem;
  color: var(--yellow);
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  line-height: 0.5em;
  padding-bottom: 0.5em;
}
#players .players-container .p-container .lorem {
  color: grey;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.2em;
  margin-bottom: 2em;
}
#players .players-container .p-container .p-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  margin-left: 1em;
}

#players .players-container .p-container .p-images .img-players {
  width: 95%;
  margin: 5% 1%;
  position: relative;
}

#players .players-container .p-container .p-images .img-players .card-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 95%;
  box-shadow: 20px 20px 50px grey;
}

#players
  .players-container
  .p-container
  .p-images
  .img-players
  .p-participants
  .participants {
  width: 8em;
  height: 2.5em;
  background-color: var(--yellow);
  color: var(--black);
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2em;
  position: absolute;
  top: 70%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#players .players-container .p-container .p-images .img-players i {
  font-size: 3rem;
  color: var(--yellow);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#players .players-container .p-container .p-images .img-players i:hover {
  color: white;
}
/* Games */
#container-game {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: var(--grey);
  padding: 1em 1em;
  /* color: var(--dark); */
}
#game-title h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  /* font-size: 3.15rem; */
  font-size: 2.5rem;
  margin-left: .7em;
}
#game-title h1 span {
  color: var(--yellow);
}
#game-title p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding-bottom: 2rem;
  color: grey;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 1.8em;
}
#carts {
  width: 95%;
  /* box-shadow: 20px 20px 50px grey; */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.game-cart {
  width: 95%;
  
}
.game-cart h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-size: 1.71rem;
  padding: 0.4em 0.4em;
  color: var(--dark);
}
.game-cart h2:hover {
  color: var(--yellow);
  opacity: 0.6;
  transition: 0.3s;
}
.game-cart .fa-display {
  font-size: 1rem;
  padding-left: 0.8rem;
  padding-bottom: 1rem;
  color: var(--dark);
}
.game-cart span {
  font-weight: 900;
  font-size: 0.65rem;
  padding: 0.2em 0.4em;
  color: var(--lightblack);
}
.game-cart span:hover {
  color: var(--yellow);
  opacity: 0.6;
  transition: 0.3s;
}
.game-cart p {
  padding: 0.2em 0.4em;
  color: var(--lightblack);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.game-cart img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.game-cart{
  box-shadow: 20px 20px 50px grey !important;
  margin-bottom: 2em;
}
/* Footer */
#footer {
  background-color: black;
  color: white;
  position: relative;
  text-align: center;
  padding: 1em;
}

#footer h3 {
  font-family: "Titillium Web", sans-serif;
}

#footer p {
  font-family: "Poppins", sans-serif;
}

#footer span,
#footer a {
  color: rgb(255, 195, 17);
}

#footer i {
  color: white;
}
/* / Bootstrap breakpoints / */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #sidebar .social-networks {
    /* header */
    margin: 10% 10%;
  }

  #sidebar .social-networks .fa-brands:not(:last-of-type) {
    margin-right: 2em;
  }

  #sidebar .buttons {
    width: 90%;
  }

  /* slideshow */
  #slideshow {
    position: relative;
    width: 100vw;
    display: flex;
  }

  #slideshow > div.slideText > img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
    transition: all 0.5s ease-in-out;
  }

  .scpopacity {
    opacity: 0.1 !important;
  }

  #slideshow > div.slideText > h1 {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
  }

  #slideshow > div.slideText > p {
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    padding: 1em;
    opacity: 0;
  }

  .slideChangePoints {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4em 3em;
  }

  .slideChangePoint {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    background: transparent;
    margin: 0 5px;
    cursor: pointer;
  }

  .yellowText {
    color: var(--yellow);
  }
  /* footer */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* header */
  #sidebar .social-networks {
    margin: 5% 10%;
  }

  #sidebar .social-networks .fa-brands:not(:last-of-type) {
    margin-right: 3em;
  }

  #sidebar .social-networks .fa-brands:first-of-type {
    margin-left: 2em;
  }

  #sidebar nav img {
    width: 20px;
    position: absolute;
    top: 3.5em;
    right: 3em;
  }

  #sidebar nav li:first-of-type {
    margin-right: 5em;
  }

  #sidebar nav li:last-of-type {
    margin-bottom: 2.5em;
  }
  /* slideshow */
  #slideshow > div.slideText > p {
    opacity: 1;
    text-shadow: #000;
  }

  .slideChangePoints {
    justify-content: space-around;
  }

  #slideshow > div.slideText > h1 {
    font-size: 4rem;
  }
  /* players */
  #players .players-container .p-container .p-images .img-players {
    width: 31.33%;
    margin: 5% 1%;
    position: relative;
    /* max-width: 1440px; */
  }

  #players > div > div > div.p-header{
    /* margin-left: 3em !important; */
    /* margin-top: 3em !important; */
  }

  #players > div > div > div.p-images > div > div > p{
    font-size: 1em !important;
  }

  /* games */
  #carts {
    width: 95%;
    /* shadow: 20px 20px 50px grey; */
    /* justify-content:space-around; */
    /* margin-bottom: 4rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .game-cart{
    width: 30%;
  }

  #game-title p {
    margin-right: 15em;
  }
  /* footer */
  #footer {
    padding: 2em;
    font-size: 1.4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  /* header */
  #header #square {
    opacity: 0;
  }

  #header{
    width: 100%;
    z-index: 10;
    opacity: 1;
    background-color: transparent;
    position: absolute;
    margin-top: -4em;
  }

  #mobile-header{
    background-color: transparent;
  }

  #mobile-header h1{
    color: white;
  }

  
  /* slideshow */
  #slideshow > div.slideText > p {
    opacity: 1;
    text-shadow: #000;
    font-size: 1.2rem;
    font-weight: 100;
    padding: 1em 20em;
    margin-top: 1em;
  }
  /* players */
  #players .players-container .p-container .p-images .img-players {
    width: 31.33%;
    margin: 5% 1%;
    position: relative;
  }
  #players > div > div > div.p-header{
    margin-left: 3em !important;
    margin-top: 3em !important;
  }

  #players > div > div > div.p-images > div > div > p{
    align-items: center;
    justify-content: center;
    margin-left: 1.5em !important;
    font-size: 2rem !important;
    left:15% !important;
  }
  /* games */
  #carts {
    width: 97%;
    /* box-shadow: 20px 20px 50px grey; */
    /* flex-direction: row; */
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .game-cart{
    width: 30%;
  }

  #game-title{
    margin: 3em 1em;
  }

  /* footer */
  #footer {
    padding: 2em;
    font-size: 1.8rem;
  }
}
